* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%; /* Đảm bảo chiều cao của html và body chiếm toàn bộ màn hình */
}

.wrapper {
  display: flex;
  flex-direction: column; /* Các phần tử con của wrapper sẽ xếp theo chiều dọc */
  height: 100%; /* Wrapper chiếm toàn bộ chiều cao của màn hình */
}

.header {
  height: 40px;
  width: 100%;
  background-color: rgb(216, 216, 219);
}

.header .top {
  display: flex;
  justify-content: flex-end; /* Căn nội dung sang bên phải */
  align-items: center;
  height: 100%;
  margin-right: 20px;
}
.header .top i{
  font-size: 20px;
}
.container-fixed {
  display: flex;
  flex: 1; /* Phần này sẽ chiếm phần còn lại của màn hình */
}

.container-fixed .sidebar {
  height: 100%;
  width: 15%;
  background-color: rgb(216, 216, 219);
}
.profile {
  text-align: center;
  border-bottom: 1px solid rgb(57, 52, 52);
}
.profile-pic {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
}
.menu ul {
  list-style: none;
  padding: 0;
}

.menu li {
  padding: 15px 0px;
  text-align: center;
}
.menu li:hover {
  background-color: black;
}
.menu li a{
  color: rgb(24, 24, 24);
  text-decoration: none;
  transition: color 0.3s ease;
}
.menu li:hover a {
  color: white; /* Đổi màu chữ của thẻ a khi hover vào thẻ li */
  text-decoration: none;
}
.menu li .collapse li {
  background-color: transparent; /* Đảm bảo danh sách con không bị ảnh hưởng */
}

.collapse li a {
  color: black; /* Giữ màu chữ của danh sách con */
}
.collapse li:hover a {
  color: rgb(18, 84, 55); /* Tùy chỉnh màu chữ khi hover vào li con nếu cần */
}
.main-content {
  flex: 1; /* Phần này sẽ chiếm phần còn lại, bên cạnh sidebar */
  background-color: #f4f4f4;
  padding: 0;
}
.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1d2b3a;
  color: white;
  padding: 10px 20px;
}

.top-nav .logo {
  font-size: 18px;
  font-weight: bold;
}

.top-nav .user-menu {
  display: flex;
  align-items: center;
}

.top-nav .user-menu p {
  margin-right: 15px;
}

.top-nav .user-icon img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.GioiThieu{
  padding: 15px;
  flex-grow: 1;
  width: 100%;
}
.GioiThieu  h1{
  text-align: center;
}

footer {
  height: 137px;
  width: 100%;
  background-color: rgb(216, 216, 219);
}