<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://mvnrepository.com/artifact/org.thymeleaf.extras/thymeleaf-extras-springsecurity6">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang Chu</title>
    <link rel="stylesheet" th:href="@{/assets/CSS/adminn.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" th:href="@{/assets/CSS/bootstrap.min.css}">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&family=Raleway:wght@400;700&display=swap" rel="stylesheet">
    <script th:src="@{/assets/Js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/assets/Js/bootstrap.min.js}"></script>
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <div class="top">
                <i class="fa-solid fa-right-from-bracket"></i>
            </div>
        </div>
        <div class="container-fixed">
            <aside class="sidebar">
                <div class="profile">
                  <img th:src="@{/assets/Image/Nhanhieu.png}" alt="Profile Picture" class="profile-pic">
                  <p><span sec:authentication="name"></span></p>
                  <p class="welcome">Chào mừng bạn trở lại</p>
                </div>
                <nav class="menu">
                  <ul>
                    <li><a href="#">Gioi Thiệu</a></li>
                    <li><a href="#">Quản Lý Nhân Viên</a></li>
                    <li><a href="#">Quản Lý Khách Hàng</a></li>
                    <li><a href="#">Quản Lý Sản Phẩm</a></li>
                    <li><a href="#">Quản Lý Đơn Hàng</a></li>
                    <li><a href="#">Quản Lý Nội Bộ</a></li>
                    <li><a href="#">Báo Cáo Doanh Thu</a></li>
                    <li><a href="#">Cài Đặt Hệ Thống</a></li>
                  </ul>
                </nav>
              </aside>
              <div class="QLNV">
                <div class="addTL">
                  <div class="tag">
                    <p>Danh sách sản phẩm</p>
                  </div>
                  <div class="form">
                    
                    <div class="form-button">
                      <button> <a href="">Tạo sản phẩm mới</a></button>
                      <button> <a href="">Xuất Excel</a></button>
                      <button> <a href="">Xuất PDF</a></button>
                      <button> <a href="">Xóa tất cả</a></button>
                    </div>
                    <div class="product-table-container"> 
                      <div class="table-header">
                        <div class="items-per-page">
                          <label for="items">Hiện</label>
                          <select id="items">
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                          </select>
                          <span>Danh mục</span>
                        </div>
                        <div class="search-box">
                          <label for="search">Tìm kiếm:</label>
                          <input type="text" id="search" placeholder="Nhập từ khóa...">
                        </div>
                      </div>
                  
                      <table class="product-table">
                        <thead>
                          <tr>
                            <th>Mã sản phẩm</th>
                            <th>Tên sản phẩm</th>
                            <th>Ảnh</th>
                            <th>Số lượng</th>
                            <th>Tình trạng</th>
                            <th>Giá tiền</th>
                            <th>Thể Loại</th>
                            <th>Chức năng</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>71390005</td>
                            <td>Bàn ăn gỗ Theresa</td>
                            <td><img src="" alt="Bàn ăn gỗ Theresa"></td>
                            <td>40</td>
                            <td><span class="status in-stock">Còn hàng</span></td>
                            <td>5.600.000 đ</td>
                            <td>Bàn ăn</td>
                            <td>
                              <button class="btn-edit">✏️</button>
                              <button class="btn-delete">❌</button>
                            </td>
                          </tr>
                          
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <footer>
          
        </footer>
    </div>
</body>
</html>