<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" th:href="@{/assets/CSS/add_Category.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" th:href="@{/assets/CSS/bootstrap.min.css}">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&family=Raleway:wght@400;700&display=swap" rel="stylesheet">
    <script th:src="@{/assets/Js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/assets/Js/bootstrap.min.js}"></script>
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <div class="top">
              <i class="fa-solid fa-right-from-bracket"></i>
            </div>
        </div>
        <div class="container-fixed">
            <aside class="sidebar">
                <div class="profile">
                  <img src="../Image/Nhanhieu.png" alt="Profile Picture" class="profile-pic">
                  <p>Đoàn Qúy</p>
                  <p class="welcome">Chào mừng bạn trở lại</p>
                </div>
                <nav class="menu">
                  <ul>
                    <li><a href="../HTML/GioiThieu.html">Giới Thiệu</a></li>
                    <li>
                      <!-- Quản Lý Sản Phẩm với menu con -->
                      <a href="#" data-toggle="collapse" data-target="#product-management-menu" aria-expanded="false" aria-controls="product-management-menu">
                        Quản Lí Sản Phẩm
                        <i class="fa fa-chevron-down"></i>
                      </a>
                      <!-- Danh sách con -->
                      <ul class="collapse" id="product-management-menu">
                        <li><a href="#">Thể Loại</a></li>
                        <li><a href="#">Sản Phẩm</a></li>
                        <li><a href="#">Màu Sắc</a></li>
                        <li><a href="#">Hình Ảnh</a></li>
                      </ul>
                    </li>
                    <li><a href="#">Quản Lý Nhân Viên</a></li>
                    <li><a href="#">Báo Cáo Doanh Thu</a></li>

                  </ul>
                </nav>
              </aside>
              <div class="QLNV">
                <div class="tag">
                  <div class="tag-color"></div>
                  <p>Thêm Màu</p>
                </div>
                <form class="color-form" th:action="@{/admin/color/add}" method=post th:object="${color}">
                  <div class="form-group">
                    <label for="color-name">Tên Màu:</label>
                    <input  th:field="${color.colorName}" type="text" id="color-name" name="color-name" placeholder="Nhập tên màu" required>
                  </div>
                  <div class="form-group">
                    <button type="submit" class="btn-accept">Thêm</button>
                  </div>
                </form>
                
              </div>
        </div>
        <footer>
          
        </footer>

      

        
    </div>
</body>
</html>