<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" th:href="@{/assets/CSS/adminn.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" th:href="@{/assets/CSS/bootstrap.min.css}">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&family=Raleway:wght@400;700&display=swap" rel="stylesheet">
    <script th:src="@{/assets/Js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/assets/Js/bootstrap.min.js}"></script>
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <div class="top">
              <i class="fa-solid fa-right-from-bracket"></i>
            </div>
        </div>
        <div class="container-fixed">
            <aside class="sidebar">
                <div class="profile">
                  <img src="../Image/Nhanhieu.png" alt="Profile Picture" class="profile-pic">
                  <p>Đoàn Qúy</p>
                  <p class="welcome">Chào mừng bạn trở lại</p>
                </div>
                <nav class="menu">
                  <ul>
                    <li><a href="../HTML/GioiThieu.html">Giới Thiệu</a></li>
                    <li>
                      <a href="#" data-toggle="collapse" data-target="#product-management-menu" aria-expanded="false" aria-controls="product-management-menu">Quản Lý Sản Phẩm</a>
                      <ul class="collapse" id="product-management-menu">
                        <li><a href="#">Thể Loại</a></li>
                        <li><a href="#">Sản Phẩm</a></li>
                        <li><a href="#">Màu Sắc</a></li>
                        <li><a href="#">Hình Ảnh</a></li>
                      </ul>
                    </li>
                    <li><a href="#">Quản Lý Nhân Viên</a></li>
                    <li><a href="#">Báo Cáo Doanh Thu</a></li>
                  </ul>
                </nav>
              </aside>
              <div class="QLNV">
                <div class="addTL">
                  <div class="tag">
                    <p>Danh sách sản phẩm</p>
                  </div>
                  <div class="form">
                    
                    <div class="form-button">
                        <button><a th:href="@{/admin/color/add}">Tạo màu mới</a></button>
                      <input type="text" placeholder="Tìm kiếm..." class="search-input">
                      <button class="btn-search">Tìm kiếm</button>
                    </div>
                    <div class="product-table-container"> 
                      <div class="table-header">
                        <div class="items-per-page">
                          <label for="items">Hiện</label>
                          <select id="items">
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                          </select>
                          <span>Danh mục</span>
                        </div>
                        <div class="search-box">
                          <label for="search">Tìm kiếm:</label>
                          <input type="text" id="search" placeholder="Nhập từ khóa...">
                        </div>
                      </div>
                  
                      <table class="product-table">
                        <thead>
                          <tr>
                            <th>Mã Màu</th>
                            <th>Tên Màu</th>
                            <th>Hành động</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr th:each="mau: ${colors}">
                            <td th:text="${mau.id}"></td>
                            <td th:text="${mau.colorName}"></td>
                            <td>
                              <button class="btn-edit">✏️</button>
                              <button class="btn-delete">❌</button>
                            </td>
                          </tr>
                          
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <footer>
          
        </footer>

      

        
    </div>
</body>
</html>