<div class="header" th:fragment="header">
  <div class="logo">
    <img th:src="@{/assets/Image/Nhanhieu.png}" alt="">
  </div>
  <div class="menu">
    <nav class="site-navigation">
      <ul class="site-menu">
        <li class="dropdown has-children">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" >BỘ SƯU TẬP <i class="fa-solid fa-angle-down"></i></a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Non Branded (Tối giản, tiết kiệm)</a></li>
            <li><a class="dropdown-item" href="#">Seventy Seven (Gía tốt, Jean 277k)</a></li>
            <li><a class="dropdown-item" href="#">No Style (Gu nào cũng có)</a></li>
            <li><a class="dropdown-item" href="#">Premium (Dáng chuẩn, Vải xịn)</a></li>
            <li><a class="dropdown-item" href="#">Cool Touch (Vải mềm ,mịn , mát)</a></li>
          </ul>
        </li>
        <li class="dropdown has-children">
          <a href=""  class="dropdown-toggle" data-toggle="dropdown">GÍA LUÔN TỐT <i class="fa-solid fa-angle-down"></i></a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Thời Trang Giá Tốt</a></li>
            <li><a class="dropdown-item" href="#">Phụ Kiện Gía Tốt</a></li>
            <li><a class="dropdown-item" href="#">Sale Kết Thúc Vòng Đời</a></li>
          </ul>
        </li>
        <li class="has-children">
          <a href=""  class="dropdown-toggle">MỚI</a>
        </li>
        <li class="dropdown has-children">
          <a href=""  class="dropdown-toggle">ÁO THUN NAM | NỮ <i class="fa-solid fa-angle-down"></i></a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Áo Thun Trơn </a></li>
            <li><a class="dropdown-item" href="#">Áo Thun Có Hình</a></li>
            <li><a class="dropdown-item" href="#">Áo Thun Ba Lỗ</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
  <div class="icon" id="right-icon-bar">
    <a href=""><i class="fa-solid fa-magnifying-glass"></i></a>
    <a href="">EXPLORE</a>
    <a href=""><i class="fa-regular fa-user"></i></a>
    <a href=""><i class="fa-solid fa-bag-shopping"></i></a>
  </div>
</div>